*{
    margin: 0px;
    padding: 0px;
}

body {
    background-color: pink;
}
.container {
  display: flex;
  justify-content: center;
  justify-content: space-around;
  flex-wrap: wrap;
	
    padding: 20px;
}


#box1 {
	display: flex;
    background-color: rgb(0, 62, 177);
    width: 200px;
    height: 200px;
    border: 5px dotted #000;
    align-items: center;
    justify-content: center;
}

#box2 {
	display: flex;
    background-color: rgb(13, 228, 13);
    width: 200px;
    height: 200px;
    border: 5px inset #000;
    align-items: center;
    justify-content: center;
}
#box3 {
	display: flex;
    background-color: rgb(238, 255, 0);
    width: 200px;
    height: 200px;
    border: 5px double #000;	
    align-items: center;
    justify-content: center;
}
#box4 {
	display: flex;
    background-color: rgb(0, 0, 0);
    width: 200px;
    height: 200px;
    border: 5px dashed #000;
    align-items: center;
    justify-content: center;
}